            <div class="footer">
               <div class="container" id="container-footer">
                  <div id="footer-row" class="row">
                    <div class="col" id="footColLeft">
                      <img src="/img/northTechLogo.png" alt="Northwestern Technology logo"><br>
                      <p class="footerTitleText">NORTHWESTERN TECHNOLOGY</p>
                      <p class="footerTitleSubText">A California &#183; Idaho joint venture<br>Established in 2018</p>
                    </div>
                    <div class="col">
                     <div class="col" id="footColRight">
                        <img src="/img/CSUMB-Logo.png" alt="CSUMB logo"><br>
                        <p class="footerTitleText">CST336 INTERNET PROGRAMMING</p>
                      <p class="footerTitleSubText">&copy; 2019 Bentley &#183; Calvert &#183; Pearce &#183; Sheridan<br>Cal State University, Monterey Bay<br>This webpage is for academic purposes only.</p>
                     </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div> <!-- end of container div from header.ejs -->
      </main>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
   </body>
</html>