<% include partials/header.ejs %>

      <main>
        
         <div id="header"></div>
            <div id="createAccountBlock">
            <div id="createAccountContainer">
               <h3 id="createAccountTitle">Administrative log in</h3>
               <form action="/adminAuthenticate" method="POST">
                  <div class="form-group">
                     <label id="formLabel" for="formGroupInput">Username</label>
                     <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                     <div id="passField">
                        <label id="formLabel" for="formGroupInput">Password</label>
                        <div id="loginErrorText"><%=loginError %></div>
                     </div>
                     <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                     <button type="submit" class="btn btn-primary" id="account-btn">LOG IN</button>
                     <br><br>
                     <p id="lginText"><a href="https://www.wikihow.com/Remember-a-Forgotten-Password">Forgot password?</a></p><br>
                  </div>
               </form>
            </div> <!-- end of createAccountContainer div-->
            <div id="loginPhoto"><img src="img/airplane1.png"></div>
            </div> <!-- end of createAccountBlock div-->
         </div>
         <div>

<% include partials/footer.ejs %>