<% include partials/header.ejs %>

      <main>
         <div id="header"></div>
            <div id="createAccountBlock">
            <div id="createAccountContainer">
               <h3 id="createAccountTitle">Find your plane</h3>
              
               <form action="/userAuthenticate" method="POST">
                  
               </form>
               </div> <!-- end of createAccountContainer div-->
            </div>
            
         <div>

<% include partials/footer.ejs %>