<% include partials/header.ejs %>

      <main>
         <div id="header"></div>
            <div id="createAccountBlock">
            <div id="airplaneSearchContainer">
               <h3 id="createAccountTitle">Find your plane</h3>
              
               <form action="/search">
                  <div class="form-group">
                     
                     <label id="formLabel" for="formGroupInput">Make of airplane</label><br>
                     <select class="custom-select" id="dropdownMenuMake" name="make">
                        <option value="selectOne"> Select </option>
                        <% make.forEach(function(row) { %>
                           <option id="<%= row['manufacturer'] %>"> <%= row['manufacturer'] %> </option>
                        <% }) %> 
                     </select><br>
                     <label id="formLabel" for="formGroupInput">Type of engine</label><br>
                     <select class="custom-select" id="dropdownMenuEngine" name="engine">
                        <option value="selectOne"> Select </option>
                        <% engine.forEach(function(row) { %>
                           <option id="<%= row['engineType'] %>"> <%= row['engineType'] %> </option>
                        <% }) %> 
                     </select><br>
                     <label id="formLabel" for="formGroupInput">Price range</label><br>
                     <input type="text" class="dataEntryFieldSmall" id="priceStart" size="15" placeholder="$0" name="priceStart"/>
                     <label id="formLabel" class="to" for="formGroupInput">TO</label>
                     <input type="text" class="dataEntryFieldSmall" id="priceEnd" size="15" placeholder="$0" name="priceEnd"/><br>
                     <label id="formLabel" for="formGroupInput">Number of flight hours</label><br>
                     <input type="text" class="dataEntryFieldSmall" id="hoursStart" size="15" name="hoursStart"/>
                     <label id="formLabel" class="to" for="formGroupInput"> TO </label>
                     <input type="text" class="dataEntryFieldSmall" id="hoursEnd" size="15" name="hoursEnd"/><br>
                     <button type="submit" id="submit-btn-airplane" class="btn btn-primary">SEARCH</button>
                  </div>
               </form>
               </div> <!-- end of createAccountContainer div-->
            </div>
            
         <div>

<% include partials/footer.ejs %>