<% include partials/header.ejs %>

      <main>
         <div id="header"></div>
            <div id="planeDataBlock">
               <h3>Title placeholder</h3>
               <form action="/api/addAircraft" method="POST">
                  <div class="containerPlaneData"> 
                     <div class="row">
                        <!-- General Information data for the plane-->
                        <div class="col-sm-4" id="dataLabel">Year</div>
                        <div class="col-sm-8">
                           <input type="text" id="dataEntryFieldSmall" size="15" placeholder="YYYY" name="year"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">Manufacturer</div>
                        <div class="col-sm-8">
                           <input type="text" id="dataEntryField" size="15" placeholder="" name="manufacturer"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">Model</div>
                        <div class="col-sm-8">
                           <input type="text" id="dataEntryField" size="15" placeholder="" name="model"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">Price</div>
                        <div class="col-sm-8">
                           <input type="text" id="dataEntryField" size="15" placeholder="" name="price"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">Serial Number</div>
                        <div class="col-sm-8">
                           <input type="text" id="dataEntryField" size="15" placeholder="" name="serialNumber"/>
                        </div>
                        <!-- Airframe data for the plane-->
                        <div class="w-100"></div>
                        <div class="col">Airframe/Engines</div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">Total Time</div>
                         <div class="col-sm-8">
                           <input type="text" id="dataEntryFieldSmall" size="5" placeholder="" name="totalTime"/>
                         </div>
                         <div class="w-100"></div>
                         <div class="col-sm-4" id="dataLabel">Type</div>
                         <div class="col-sm-8">
<!--                            <input type="text" id="dataEntryFieldSmall" size="5" placeholder="" name="engineType"/> -->
                           <select id="dataEntryFieldSmall"  name="engineType">
                             <option value="Jet">Jet</option>
                             <option value="Prop">Prop</option>
                           </select>
                         </div>
                         <div class="w-100"></div>
                         <div class="col-sm-4" id="dataLabel">SMOH</div>
                         <div class="col-sm-8">
                           <input type="text" id="dataEntryFieldSmall" size="5" placeholder="" name="smoh"/>
                         </div>
                         <div class="w-100"></div>
                         <div class="col-sm-4" id="dataLabel">Inspection</div>
                         <div class="col-sm-8">
<!--                            <input type="text" id="dataEntryFieldSmall" size="5" placeholder="" name="inspection"/> -->
                           <select id="dataEntryFieldSmall" name="inspection">
                             <option value="Pass">Pass</option>
                             <option value="Fail">Fail</option>
                           </select>
                         </div>
                         <!-- Interior data for the plane-->
                         <div class="w-100"></div>
                         <div class="col">Interior</div>
                         <div class="w-100"></div>
                         <div class="col-sm-4" id="dataLabel">Number of seats</div>
                         <div class="col-sm-8">
                           <input type="text" id="dataEntryFieldSmall" size="5" placeholder="" name="numberSeats"/>
                         </div>
                         
                        <!-- Inspection data for the plane-->
                        <div class="w-100"></div>
                         <div class="col">Image</div>
                        <div class="w-100"></div>
                        <div class="col-sm-4" id="dataLabel">URL</div>
                        <div class="col-sm-8">
                          <input type="text" id="dataEntryField"  placeholder="" name="imageURL"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
            
         <div>

<% include partials/footer.ejs %>