<% include partials/header.ejs %>
<style>
.navLink {
    color: #00306d;
 }

 body {
    background-color: #4f7cb2;
 }

</style>

      <main>
         <div id="pageTitle">Advanced Aviation Trader</div>
         <div id="pageText">
            <p id="indexText">We believe that whether you are buying your first plane,<br>
                              or trying to sell the one you currently own, the experience<br>
                              should be one that is fun, easy, and affordable.</p>
         </div>

         <div class="search">
            <a class="btn btn-primary" id="searchBtn" href="/airplaneSearch" role="button">FIND THE PLANE YOU'LL BE FLYING TOMORROW</a>
         </div>

         <div id="backPic">
            <img id="backgroundPic" src="img/index_background.png" alt="background_image">

            <div id="quoteBlock">
                  <div class="container" id="quoteContainer">
                     <div class="row">
                     <div class="col">
                     </div>
                     <div class="w-100"></div>
                     <div class="col"><p>"If you need a plane, then Advanced Aviation Trader is your place to go, you will not regret your decision"<br>~ Kevin Becket</p></div>
                     <div class="col"><p>"AAT helped my find my plane within just a couple days and I have not regretted my decision"<br>~ Craig Kensignton</p></div>
                     <div class="col"><p>"I wasted so much time searching for the right plane, if only I had come to AAT sooner, all my troubles would have been solved"<br>~ Brian Westwood</p></div>
                     <div class="col"><p>"Trust your gut and stick with Advanced Aviation Trader, not only saving you time but also money" ~ Samuel DuPont</p></div>
                     </div><br><br><br><br><br><br>
                    <a class="btn btn-primary" id="shopBtn" href="/airplaneSearch" role="button">SHOP NOW</a>
                    <br><br>             
              </div>
              <br><br><br>     
            </div>

            <div id="optionBlock">
               <!-- <div class="container"> -->
                  <div class="row" id="row-option">
                     <div class="col-sm">

                        <div class="optionContainer">
                           <div id="optionPic">
                              <img src="img/focus_1.png" alt="plane">
                           </div>
                           <div>
                              <p id="optionTitle">High Quality Planes</p>
                              <p id="optionText">Multiple inspections. Free history report. Complimentary limited warranty for peace of mind.</p>
                           </div>
                        </div>
                     </div>

                    <div class="col-sm">
                        <div class="optionContainer">
                           <div id="optionPic">
                              <img src="img/focus_2.png" alt="plane">
                           </div>
                           <div>
                           <p id="optionTitle">Easy Online Financing</p>
                           <p id="optionText">Apply online in minutes. Our 10+ financing partners will compete to get you a highly competitive rate.</p>
                        </div>
                        </div>
                     </div>

                    <div class="col-sm">
                        <div class="optionContainer">
                           <div id="optionPic">
                              <img src="img/focus_3.png" alt="hangar">
                           </div>
                           <div>
                           <p id="optionTitle">Delivered Right to You</p>
                           <p id="optionText">Have your airplane delivered to any of your local airports. A better option? Have it delivered to your own personal hanger.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                <!-- </div> -->
            </div>

<% include partials/footer.ejs %>