<% include partials/header.ejs %>

<main>

<div id="header"></div>
<div id="searchResultsBlock">
  <div id="resultsContainer">
    <div id="searchResultsContainer">

      <h2 id="searchResultsTitle">Thank you for your order!</h2>
      <hr>
      <h3 id="searchResultsTitle">Order number is: <%= id %></h5>
      <p id="orderConfText">You may recieve an email confirmation one of these days from info@nortech.com with details
        of your order and a link to track its progress.
      </p>
    
    </div>
  </div>
</div>

<% include partials/footer.ejs %>