<% include partials/header.ejs %>

<main>

<div id="header"></div>
<div id="searchResultsBlock">
  <div id="resultsContainer">
    <div id="searchResultsContainer">

      <h3 id="searchResultsTitle">Order confirmation Number is: <%= id %></h3><br>
    
    </div>
  </div>
</div>

<% include partials/footer.ejs %>