<% include partials/header.ejs %>

<main>

<div id="header"></div>

<h3 id="adminListTitle">Your Cart</h3>

<table id="tableList" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      



    </tbody>
  </table>

<% include partials/footer.ejs %>