
*:focus {
   outline: none;
}

a {
   color: #D2A517;
}

h4 {
   font-family: 'Ropa Sans', sans-serif;
   padding-left: 30px;
   padding-top: 25px;
   padding-bottom: 15px;
   color: #fff;
}

.container {
   position: relative;
   max-width: 1440px;
   padding: 0px;
   z-index: 0;
}

#backPic {
   position: absolute;
   z-index: 1;
}

#backgroundPic {
   max-width: 100%;
   height: auto;
}

#header {
   position: absolute;
   z-index: 1;
   width: 100%;
   background-color: #475DA1;
   height: 74px;
}

.row {
   position: absolute;
   width: 100%;
   z-index: 2;
}

.btn-outline-primary {
   margin-top: 18px;
   margin-right: 6px;
   color: #00306D;
   border-color: #00306D;
   border-radius: 0px;
}

.btn-outline-primary:hover {
   color: #fff;
   background-color: #475DA1;
   border-color: #475DA1
}

.btn-primary {
   margin-top: 18px;
   margin-right: 5px;
   background-color: #00306D;
   border-color: #00306D;
   border-radius: 0px;
}

.btn-primary:hover {
   background-color: #475DA1;
}

#searchBtn {
   margin-top: 0px;
}

#pageTitle {
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 64px;
   color: #fff;
   position: absolute;
   z-index: 3;
   margin-left: 60px;
   margin-top: 95px;
}

#pageText {
   position: absolute;
   z-index: 4;
   margin-left: 60px;
   margin-top: 180px;
}

#indexText {
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   color: #fff;
}

.search {
   position: absolute;
   z-index: 5;
   margin-left: 60px;
}

#search {
   margin-top: 400px;
}

input {
   margin-top: 350px;
   font-size: 16px;
   width: 400px;
   padding: 11px;
   border: 1px solid;
   border-color: #DADADA;
   margin-bottom: 15px;
}

#quoteBlock {
   margin-top: 60px;
   height: 310px;
   background-color: #F9F8F7;
   padding-top: 120px;
   padding-left: 170px;
   padding-right: 170px;
   margin-top:0px;
   text-align: center;
   font-size: 18px;
   font-style: italic;
   line-height: 160%;
   color: #1F2A3C;
}

#quoteText {
   color: #222222;
}

#optionBlock {
   margin-top: 60px;
   height: 300px;
   background-color: #fff;
   padding-top: 60px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top:0px;
   text-align: center;
   color: #1F2A3C;
}

#loginBlock {
   margin-top: 60px;
   height: 700px;
   background-color: #fff;
   padding-top: 180px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top:0px;
   text-align: center;
   color: #1F2A3C;
}

#planeDataBlock {
   margin-top: 60px;
   height: 1800px;
   background-color: #fff;
   padding-top: 180px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top:0px;
   text-align: center;
   color: #1F2A3C;
}

#createAccountBlock {
   margin-top: 60px;
   height: 925px;
   background-color: #fff;
   padding-top: 150px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top:0px;
   text-align: center;
   color: #1F2A3C;
   background: linear-gradient(100deg, #eaeeff 60%, #ffffff 60%);
}

#optionTitle {
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 20px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 0px;
}

#optionText {
   font-family: 'Barlow', sans-serif;
   text-align: left;
}

#optionPic {
   padding-top: 5px;
   padding-right: 15px;
}

.optionContainer {
   display: flex; 
}

.footer {
   height: 340px;
   background-color: #222222;
   text-align: center;
}

/* Login styles */

.form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
 }
 .form-signin .checkbox {
   font-weight: 400;
 }
 .form-signin .form-control {
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
 }
 .form-signin .form-control:focus {
   z-index: 2;
 }
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }

 #inputUsername, #inputPassword {
    margin-top: 0px;
 }

 #dataEntryField {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #485057;
 }

 #dataEntryFieldSmall {
   margin-top: 0px;
   margin-left: 0px;
   font-size: 16px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   border-radius: 5px;
   color: #485057;
   width: 100px;
}

.form-control {
   border-radius: 0px;
   border-color: #D6D7DA;
   background-color: #F5F5F5;
}

 #dataLabel {
    text-align: right;
 }

 .containerPlaneData {
    text-align: left;
    width: 300px;
 }

 #exampleFormControlTextarea1 {
    width: 400px;
 }

 .form-group {
    text-align: left;
    width: 500px;
 }

 .form-control {
    margin-top: 0px;
    width: 336px;
 }

 #formLabel {
    font-size: 12px;
 }

 .form-control::-webkit-input-placeholder {
   color: #999DA3;
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
 }

#checkboxText {
   padding-left: 25px;
   padding-top: 3px;
   font-size: 12px;
   width: 336px;
}

.form-check-input {
   margin-left: 0px;
}

#createAccountContainer {
   background-color: #fff;
   padding-left: 40px;
   width: 416px;
}

#createAccountTitle {
   font-family: 'Barlow Condensed', sans-serif;
   padding-top: 32px;
   text-align: left;
}

#account-btn {
   font-family: 'Barlow Condensed', sans-serif;
   width: 336px;
   border-radius: 0px;
}

#lginText {
   font-family: 'Barlow', sans-serif;
   font-size: 15px;
}

.container-footer {
   color: #fff;
   padding-top: 50px;
   width: 80%;
}

#footColLeft {
   text-align: left;
   padding-left: 140px;
}

#footColRight {
   text-align: right;
   padding-right: 100px;
}

.footerTitleText {
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   color: #999999;
   padding-top: 8px;
}

.footerTitleSubText {
   font-family: 'Barlow', sans-serif;
   font-size: 14px;
}